<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HomeClassLecturerActivity"/>
        <activity android:name=".HomeClassStudentActivity" />
        <activity
            android:name=".BuatKelasActivity"
            android:parentActivityName=".home_lecturer" />
        <activity
            android:name=".GabungKelasActivity"
            android:parentActivityName=".home_student" />
        <activity android:name=".PeriksaSoal" />
        <activity android:name=".StudentFinish" />
        <activity android:name=".StartQuestion" />
        <activity android:name=".home_student" />
        <activity android:name=".home_lecturer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_student"
            android:parentActivityName=".HomeClassLecturerActivity">

            <!-- <meta-date -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".home_lecturer" /> -->
        </activity>
        <activity
            android:name=".add_question"
            android:parentActivityName=".HomeClassLecturerActivity">

            <!-- <meta-date -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".home_lecturer" /> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>